.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width:  200%;
    
    animation: cambio 10s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100;
}

@keyframes cambio{
    
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
}