* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFF0; 
    padding: 30px;
}


hr {
    height: 5px;
    background-color: #000000;
}

h1 {
    color: #000000;
    font-family: Verdana;
    text-align: center

}

.img1 {
    text-align: center;
    padding: 20px;
    }

img {
    height: 400px;
    width: 600px;
}

p {
    color: #000000;
    font-family: Arial;
    text-align: justify;
    font-size: 1vw;
    line-height: 40px;
}

.img8 {
    text-align: center;
    padding: 20px;
    
}

img {
    height: 400px;
    width: 600px;
}