*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bauhaus 93', sans-serif;
    font-family: 'Century Gothic';
}
.contenedor{
    width: 1000%;
    max-width: 1800px;
    text-align: justify;
}
.contenedor h1{
    font-size: 80px;
    text-align:center;
    background-color: #E3DCF5;
}
.contenedor p{
    font-size: 140%;
    text-align: justify;
}